# git ignore file
*.suo
*.user
*.csproj.user
_ReSharper.*
~*.*
bin
obj
packages
Binaries
Processed
TestResults
Drops
Backup*
_UpgradeReport_Files
UpgradeLog*.*
tmp*.*
*.tmp
DslIncludeTemp