<#@ Include File="..\..\..\MasterVSIXInfo.gen.ttinclude" #>
<#@ output extension=".gen.cs" #>

namespace Microsoft.VisualStudio.Patterning.HandsOnLabs
{
    /// <summary>
    /// Information about the toolkit
    /// </summary>
    internal class AuthoringToolkitInfo
    {
        public const string VsixIdentifier = "<#=VsixInfo.PatternToolkitBuilder.Identifier #>";
    }
}