<#@ output extension=".gen.cs" #>
<#@ include file="..\..\..\..\..\MasterVersion.gen.ttinclude" #>
namespace NuPattern.Runtime.UI
{
    partial class SolutionBuilderViewModel
    {
        private const string HomePageUrl = @"<#=VersionInfo.ProjectHomePage #>";
    }
}