<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\WorkflowDesign\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("b393dcbb-b05b-41e0-95e5-96fc73ca426b");
#>
<#@ include file="DslTemp\DslPackage\GeneratedVSCT.tt" #>
