<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
	<Product Id="EE3DCDA9-4490-4C5F-9862-252DF030645A" Name="NuPattern" Language="1033" Version="1.3.20.0" Manufacturer="NuPattern" UpgradeCode="151c3ddf-ddb1-4af6-9a50-3e71c9a6d2e8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
    
    <!-- Include the License file -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>

    <!-- Read settings from machine -->
    <Property Id="VS2010_INSTALL" Secure="yes">
      <RegistrySearch Id="VS2010_InstallRegSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="raw"/>
    </Property>
    <Property Id="VS2012_INSTALL" Secure="yes">
      <RegistrySearch Id="VS2012_InstallRegSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentDirectory" Type="raw"/>
    </Property>
    <Property Id="VS2010_VSIXINSTALLER" Secure="yes">
      <RegistrySearch Id="VS2010_VsixInstallerRegSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS2010_VsixInstallerDirSearch">
          <FileSearch Id="VS2010_VsixInstallerFileSearch" Name="VSIXInstaller.exe" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    <Property Id="VS2012_VSIXINSTALLER" Secure="yes">
      <RegistrySearch Id="VS2012_VsixInstallerRegSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS2012_VsixInstallerDirSearch">
          <FileSearch Id="VS2012_VsixInstallerFileSearch" Name="VSIXInstaller.exe" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>   

    <!-- Define Feature Selections -->
    <Feature Id="TOOLKITBUILDER2010FEATURE" Title="Toolkit Builder VS2010" Level="1" Display="expand">
      <Condition Level="0"><![CDATA[VS2010_INSTALL=""]]></Condition>
      <ComponentRef Id="ToolkitBuilderVsix2010" />
      <Feature Id="TOOLKITBUILDERLABS2010FEATURE" Title="Hands-On Labs VS2010" Level="5000" >
        <ComponentRef Id="ToolkitBuilderLabsVsix2010" />
      </Feature>
    </Feature>
    <Feature Id="TOOLKITBUILDER2012FEATURE" Title="Toolkit Builder VS2012" Level="1" Display="expand">
      <Condition Level="0"><![CDATA[VS2012_INSTALL=""]]></Condition>
      <ComponentRef Id="ToolkitBuilderVsix2012" />
      <Feature Id="TOOLKITBUILDERLABS2012FEATURE" Title="Hands-On Labs VS2012" Level="5000">
        <ComponentRef Id="ToolkitBuilderLabsVsix2012" />
      </Feature>
    </Feature>

    <!-- Set the user interface -->
    <UIRef Id="WixUI_FeatureTree" />

    <!-- Installation Process -->
    <InstallExecuteSequence>
      <!-- Ensure we are using the latest VSIXInstaller -->
      <Custom Action="SETDEFAULTVSIXINSTALLEREXE" After="CostInitialize"></Custom>
      <Custom Action="DOWNGRADEVSIXINSTALLEREXE" After="SETDEFAULTVSIXINSTALLEREXE">VS2012_INSTALL=""</Custom>
      
      <!-- Install VSIXes -->
      <Custom Action="INSTALLBUILDERVSIX2010" After="InstallFiles"><![CDATA[(&TOOLKITBUILDER2010FEATURE=3)]]> AND NOT Installed</Custom>
      <Custom Action="INSTALLBUILDERLABSVSIX2010" After="INSTALLBUILDERVSIX2010"><![CDATA[(&TOOLKITBUILDERLABS2010FEATURE=3)]]> AND NOT Installed</Custom>
      <Custom Action="INSTALLBUILDERVSIX2012" After="INSTALLBUILDERLABSVSIX2010"><![CDATA[(&TOOLKITBUILDER2012FEATURE=3)]]> AND NOT Installed</Custom>
      <Custom Action="INSTALLBUILDERLABSVSIX2012" After="INSTALLBUILDERVSIX2012"><![CDATA[(&TOOLKITBUILDERLABS2012FEATURE=3)]]> AND NOT Installed</Custom>

      <!-- Uninstall VSIXes (on an uninstall and only if installed) -->
      <Custom Action="UNINSTALLBUILDERVSIX2010" Before="RemoveFiles"><![CDATA[(!TOOLKITBUILDER2010FEATURE=3)]]> AND Installed AND ((REMOVE="ALL") OR (MaintenanceMode="Remove"))</Custom>
      <Custom Action="UNINSTALLBUILDERLABSVSIX2010" After="UNINSTALLBUILDERVSIX2010"><![CDATA[(!TOOLKITBUILDERLABS2010FEATURE=3)]]> AND Installed AND ((REMOVE="ALL") OR (MaintenanceMode="Remove"))</Custom>
      <Custom Action="UNINSTALLBUILDERVSIX2012" After="UNINSTALLBUILDERLABSVSIX2010"><![CDATA[(!TOOLKITBUILDER2012FEATURE=3)]]> AND Installed AND ((REMOVE="ALL") OR (MaintenanceMode="Remove"))</Custom>
      <Custom Action="UNINSTALLBUILDERLABSVSIX2012" After="UNINSTALLBUILDERVSIX2012"><![CDATA[(!TOOLKITBUILDERLABS2012FEATURE=3)]]> AND Installed AND ((REMOVE="ALL") OR (MaintenanceMode="Remove"))</Custom>
    </InstallExecuteSequence>
  </Product>

  <!-- Define Directories -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="NuPattern">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  
  <!--
  TODO

    3. Sort out uninstall actions
    
    4. Sort out Dependency checking
    
    5. Change Icons, Banners in UI
    
    6. Add the /q to VSIXINstaller command below
  -->
  
  <!-- Define the Actions-->
  <Fragment>
    <!-- Set the path for the VSIXINstaller -->
    <CustomAction Id="SETDEFAULTVSIXINSTALLEREXE" Property="VSIXINSTALLEREXE" Value="[VS2012_VSIXINSTALLER]"/>
    <CustomAction Id="DOWNGRADEVSIXINSTALLEREXE" Property="VSIXINSTALLEREXE" Value="[VS2010_VSIXINSTALLER]"/>
    
    <!-- Install the VSIXes -->
    <CustomAction Id="INSTALLBUILDERVSIX2010" Property="VSIXINSTALLEREXE" ExeCommand="/q &quot;[#ToolkitBuilderVsixFile2010]&quot;" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="INSTALLBUILDERLABSVSIX2010" Property="VSIXINSTALLEREXE" ExeCommand="/q &quot;[#ToolkitBuilderLabsVsixFile2010]&quot;" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="INSTALLBUILDERVSIX2012" Property="VSIXINSTALLEREXE" ExeCommand="/q &quot;[#ToolkitBuilderVsixFile2012]&quot;" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="INSTALLBUILDERLABSVSIX2012" Property="VSIXINSTALLEREXE" ExeCommand="/q &quot;[#ToolkitBuilderLabsVsixFile2012]&quot;" Execute="deferred" Return="check" Impersonate="yes"/>
    
    <!-- Uninstall the VSIXes -->
    <CustomAction Id="UNINSTALLBUILDERVSIX2010" Property="VSIXINSTALLEREXE" ExeCommand="/q /uninstall:[TOOLKITBUILDER2010VSIXID]" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="UNINSTALLBUILDERLABSVSIX2010" Property="VSIXINSTALLEREXE" ExeCommand="/q /uninstall:[TOOLKITBUILDERLABS2010VSIXID]" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="UNINSTALLBUILDERVSIX2012" Property="VSIXINSTALLEREXE" ExeCommand="/q /uninstall:[TOOLKITBUILDER2012VSIXID]" Execute="deferred" Return="check" Impersonate="yes"/>
    <CustomAction Id="UNINSTALLBUILDERLABSVSIX2012" Property="VSIXINSTALLEREXE" ExeCommand="/q /uninstall:&quot;[TOOLKITBUILDERLABS2012VSIXID]&quot;" Execute="deferred" Return="check" Impersonate="yes"/>
  
    <UI>
      <ProgressText Action="INSTALLBUILDERVSIX2010">Installing 'NuPattern Toolkit Builder' extension for Visual Studio 2010</ProgressText>
      <ProgressText Action="INSTALLBUILDERLABSVSIX2010">Installing 'NuPattern Toolkit Builder Hands-On Labs' extension for Visual Studio 2010</ProgressText>
      <ProgressText Action="INSTALLBUILDERVSIX2012">Installing 'NuPattern Toolkit Builder' extension for Visual Studio 2012</ProgressText>
      <ProgressText Action="INSTALLBUILDERLABSVSIX2012">Installing 'NuPattern Toolkit Builder Hands-On Labs' extension for Visual Studio 2012</ProgressText>

      <ProgressText Action="UNINSTALLBUILDERVSIX2010">Removing 'NuPattern Toolkit Builder' extension from Visual Studio 2010</ProgressText>
      <ProgressText Action="UNINSTALLBUILDERLABSVSIX2010">Removing 'NuPattern Toolkit Builder Hands-On Labs' extension from Visual Studio 2010</ProgressText>
      <ProgressText Action="UNINSTALLBUILDERVSIX2012">Removing 'NuPattern Toolkit Builder' extension from Visual Studio 2012</ProgressText>
      <ProgressText Action="UNINSTALLBUILDERLABSVSIX2012">Removing 'NuPattern Toolkit Builder Hands-On Labs' extension from Visual Studio 2012</ProgressText>
    </UI>
  </Fragment>
</Wix>
