<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\..\..\Runtime\Source\Runtime.Schema\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("16fc96e1-fd3f-47dc-adb2-59804fc401bb");
#>
<#@ include file="DslTemp\DslPackage\GeneratedVSCT.tt" #>
