<#@ output extension=".gen.cs" #>

namespace NuPattern.Authoring.PatternToolkit
{
	/// <summary>
	/// Defines the constants used in the Runtime.Shell package.
	/// </summary>
	internal static class RuntimeShellInfo
	{
		/// <summary>
		/// The GUID for this package.
		/// </summary>
		public const string VsixIdentifier = "c869918e-f94e-4e7a-ab25-b076ff4e751b";
	}
}