<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
	<system.serviceModel>
		<services>
			<service name="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.CategoryService">
				<endpoint binding="wsHttpBinding"
									bindingConfiguration="ExtensionManagerBinding"
									name="Implementation"
									contract="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.ICategoryService"
									listenUri=""/>
				<endpoint binding="mexHttpBinding"
									bindingConfiguration=""
									name="Metadata"
									contract="IMetadataExchange"
									listenUri="mex"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8500/Category2.svc"/>
					</baseAddresses>
				</host>
			</service>
			<service name="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.ReleaseService">
				<endpoint binding="wsHttpBinding"
									bindingConfiguration="ExtensionManagerBinding"
									name="Implementation"
									contract="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.IReleaseService"
									listenUri=""/>
				<endpoint binding="mexHttpBinding"
									bindingConfiguration=""
									name="Metadata"
									contract="IMetadataExchange"
									listenUri="mex"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8500/Release3.svc"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"
													 httpsGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="ExtensionManagerBinding" maxReceivedMessageSize="10000000">
					<reliableSession enabled="false"/>
					<security mode="None">
						<transport clientCredentialType="Windows"
											 proxyCredentialType="None"
											 realm=""/>
						<message clientCredentialType="Windows"
										 negotiateServiceCredential="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<!-- Client portion used by the VS Gallery client proxy for aggregation -->
			<endpoint address="http://visualstudiogallery.msdn.microsoft.com/services/Category2.svc"
								binding="wsHttpBinding"
								bindingConfiguration="ExtensionManagerBinding"
								contract="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.ICategoryService"/>
			<endpoint address="http://visualstudiogallery.msdn.microsoft.com/Services/Release3.svc"
								binding="wsHttpBinding"
								bindingConfiguration="ExtensionManagerBinding"
								contract="Microsoft.VisualStudio.Patterning.Repository.OnlineGallery.IReleaseService"/>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0"
											sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
