<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\DslDefinition.dsl'" #>
#pragma warning disable 1573
<#@ include file="Dsl\SerializationHelper.tt" #>
<#@ include file="Dsl\MonikerAmbiguityValidation.tt" #>
<#
	GenerateMonikerAmbiguityValidation(this.DslLibrary);
#>