<#
    string directiveName = this.Dsl.Name;
    string modelReader = "PatternModelReader";
#>
<#@ Include File="..\..\..\..\..\Common\Helpers\ModelDirectiveProcessor.tt" #>
<#@ Dsl processor="DslDirectiveProcessor"  requires="fileName='..\..\DslDefinition.dsl'" #>
