<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\..\Source\Runtime.Store\DslDefinition.dsl'" #>
<#@ template inherits="Microsoft.VisualStudio.TextTemplating.VSHost.ModelingTextTransformation" #>
<#@ output extension=".gen.slnbldr" #>
<#@ Include File="..\..\..\..\Common\Helpers\DslVersion.tt" #>
<?xml version="1.0" encoding="utf-8"?>
<productState
	xmlns:dm0="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core"
	dslVersion="<#= this.DslVersion #>"
	Id="9ec61916-5fac-4b84-8453-97e797c1fd7b"
	xmlns="http://schemas.microsoft.com/visualstudio/patterning/runtime/productstate" />